<div class="container mb-2" role="main">
  <div class="div p-4">
    <h2 class="text-white text-center ">"... per la sicurezza sociale, sportiva-dilettantistica, ricreativa e culturale."</h2>
  </div>
  <div class="row p-4 bg-white rounded">
    <article class="row p-2">


      <div class="col-12">
        <i class="fa fa-hamburger " style="color: black;"></i>
        <h1 id="homeTitle">CHI SIAMO</h1>
        <p  class="text-justify">L&#39;Associazione “Aquile in sicurezza” nasce ad Alghero nel 2007, con attività
        in ambito sportivo, in particolare calcio e pallavolo. Nel 2019, per sopraggiunti
        problemi, l’attività e la vita associativa si interrompono e con un piccolo
        gruppo di amici, raccogliamo la proposta di subentrare ai soci rimasti ad
        Alghero ereditando di fatto l’associazione e trasferendola (Luglio 2019) a
        Thiesi.L’intento è stato quello di creare nel territorio del Mejlogu (e non solo),
        iniziative specifiche intorno al disagio psicosociale e dell’handicap in
        generale, per promuovere la salute psicofisica delle persone svantaggiate,
        per il miglioramento della qualità della loro vita e dei loro familiari,
        collaborando in modo efficiente e dinamico per sostenere i problemi di natura
        quotidiana ma anche favorendo il percorso di crescita personale
        dell’individuo.</p>
      </div>
       <div class="col-6">
        <p class="text-justify">Siamo un’Associazione culturale, sportiva e ricreativa, di
          Volontariato e Promozione Sociale per la sicurezza sociale, sportiva
          dilettantistica, ricreativa e culturale delle persone diversamente abili e/o
          svantaggiate in genere, basata su principi solidaristici e di aggregazione
          sociale e con le nostre attività ci rivolgiamo a persone svantaggiate in ragione
          di condizioni fisiche, psichiche, economiche, sociali e familiari e a persone
          normodotate che vogliono condividere i nostri principi e obbiettivi.
          Infatti i soci possono essere diversamente abili, familiari, volontari, sostenitori
          e professionisti e tutti coloro che sono interessati alla realizzazione delle
          finalità istituzionali e ne condividono lo spirito e gli ideali.</p>
       </div>
       <div class="col-6">
         <img  src="assets/ais-logo2.png" alt="">
       </div>
    </article>
    <div class="row p-1">
      <div class="col-12">

  </div>
</div>

