<footer class="mt-4 bg-dark p-4 w-100 h-100 container-fluid justify-content-center flex-column rounded-top">
    <div class="text-white d-flex flex-sm-row">
      <h3>Contatti</h3>
      <ul>
        <li>
          aquileinsicurezza.th@tiscali.it
        </li>
        <li>
          aquileinsucurezza.th@pec.it
        </li>
        <li>Tel: +39 347 756 08 38</li>
      </ul>
    </div>
    <div class="text-white d-flex flex-sm-row">
      <h3>Indirizzo</h3>
      <ul>
        <li>
          <h6>Sede Operativa e Legale</h6>
          Via Manzoni 10, Thiesi (SS) 07047
        </li>
        <li>
          <h6>Domiciliazione Postale</h6>
          Via Satta 18, Thiesi (SS) 07047
        </li>
      </ul>
    </div>
    <div class="text-white flex-column " >
        <h4 style="vertical-align:bottom;" >AquileInSicurezza.it non trattiene nessun dato personale bensi dati analitici base come indirizzo IP in forma anonima. La tua privacy e' sicura con noi!</h4>
    </div>
 
</footer>
