<div class="container mb-2" role="main">
  <div class="div p-4">
    <h2 class="text-white text-center ">"... un’Associazione Culturale, Sportiva e Ricreativa."</h2>
  </div>
  <div class="row p-4 bg-white rounded">


      <div class="col-12 mb-4">
        <fa-icon [icon]="faCoffee"></fa-icon>

        <h1 id="homeTitle">IN EVIDENZA</h1>
       </div>


    <div class="row p-1">
      <div class="col  p-1" aria-label="cardTitle">
        <div class="card" style="width: 100%;">
          <img src="https://www.gelestatic.it/thimg/2QHZhD63ugrw4JQgfQnFnzwj1Ys=/960x540/smart/filters:format(webp)/https%3A//www.lanuovasardegna.it/image/contentid/policy%3A1.38061144%3A1575508034/image.jpg%3Ff%3Ddetail_558%26h%3D720%26w%3D1280%26%24p%24f%24h%24w%3Da952e14" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" #cardTitle aria-label="1st Card">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-aqs-purple">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col p-1" aria-label="cardTitle">
        <div class="card" style="width: 100%;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" #cardTitle aria-label="1st Card">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-aqs-purple">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-4 bg-white rounded mt-5">
    <div class="row p-2">
      <h1 id="homeTitle">PILLOLE D'INFORMAZIONE</h1>
    </div>
    <div class="row p-1">
      <div class="col  p-1" aria-label="cardTitle">
        <div class="card" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title" #cardTitle aria-label="1st Card">Risorse Utili</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul class="nav flex-column">
              <li class="nav-item">
                <button class="nav-link btn btn-aqs-blue">Legge 104</button>
              </li>
              <li class="nav-item  mt-2">
                <button class="nav-link btn bg-aqs-purple">Moduli per l'autocertificazione</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col p-1" aria-label="cardTitle">
        <div class="card" style="width: 100%;">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title" #cardTitle aria-label="1st Card">Nuovo Progetto in Arrivo</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-aqs-blue">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

