
  <ul class="nav  navbar flex-columnsblog-article-list  ">
    <li class="nav-item clearfix m-30 row row align-items-center" *ngFor="let article of articles">
      <div class="col-9" [routerLink]="['article', article.id]">
      <pkl-article [article]="article"></pkl-article>
    </div>
    <div class="col-3">
      <button class="btn btn-success" *ngIf="userMode" routerLink="edit" [queryParams]="{edit:true, artToEdit: article.id}">Edit</button>
      <button class=" m-l-2 btn btn-danger" *ngIf="userMode" (click)="onDelete(article.id)">Delete</button>
    </div>

    </li>
  </ul>

