<div class="container-fluid " role="main">
  <div class="d-flex d-inline-flex justify-content-center p-4">
    <h2 class="text-white text-center ">"... per costruire
      insieme percorsi di inclusione educativa e sociale."</h2>
  </div>
  <div class="flex-column d-flex justify-content-center p-4 bg-white rounded w-100">
    <article class="d-flex flex-column p-2 align-self-center">
     
        <h1 class="text-center" id="homeTitle">PROGETTI</h1>
        <img class="img-fluid  mb-5 d-flex align-self-end" src="assets/AQUILE/progetti.png" alt="">

      <p>I nostri principali ambiti sono la cultura, lo sport e l&#39;aspetto ludico ricreativo,
        pertanto le nostre attività mirano ad organizzare:</p>
        <ul class=" flex-column p-4">
          <li class="nav-item">
            <p>
              Eventi sportivi agonistici, comprese le attività di allenamento e
            formazione: calcio integrato; danza sportiva e paralimpica, dance
            therapy; bocce, freccette, calciobalilla, tennis tavolo; teatro, musica e
            canto.
            </p>
          </li>
          <li class="nav-item">
            <p>
              Escursioni e viaggi di istruzione e partecipazione ad esperienze
            sportive e culturali;
            </p>
          </li>
          <li class="nav-item">
            <p>
              Conferenze, Dibattiti, tavole rotonde e Convegni.
            </p>
          </li>
        </ul>
        <p>Collaboriamo con Coop. Sociali, con le Amministrazioni Locali e altre
          associazioni o altri enti ETS. Vorremo collaborare con la Scuola per costruire
          insieme percorsi di inclusione educativa e sociale, specialmente a partire
          dallo sport.</p>
       
       <div class=" p-4 d-flex justify-content-center flex-column">
       
         <h3 class="p-4">ABBIAMO ATTIVATO</h3>
         <div class="card w-100">
          <ul class="list-group list-group-flush">
            <li class="list-group-item"> 
              <p>
                Laboratori di Dance Therapy-ballo integrato, in collaborazione con la
                Scuola Civica di Musica del Comune di Thiesi;
             </p>
            </li>
            <li class="list-group-item"> 
              <p>
                Laboratori di Dance Therapy-ballo integrato, in collaborazione con la
                Scuola Civica di Musica del Comune di Thiesi;
              </p>
            </li>
            <li class="list-group-item"> 
              <p>
                Laboratori di teatro espressivo-integrato e attività di calcio integrato
                in collaborazione con altre Associazioni sportive: Directa Spost e “ASD
                AHO Calcio Femminile” di Alghero.
              </p>
            </li>
            <li class="list-group-item">
              <p>
                E’ in fase di attuazione, in collaborazione con lo CSI (Centro Sportivo
                Italiano) di Sassari e l’ASD Real Pozzo di Pozzomaggiore, il progetto, già
                finanziato, “Lo Sport include il Meilogu” che prevede l’attivazione di
                corsi e tornei di Bocce, Freccette, Calciobalilla e Tennistavolo.
              </p>
            </li>
          </ul>
        </div>
       </div>
    </article>
</div>

