.title{
  color:#00334eff;
  font-size: xx-large;
  font-weight: 700;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.blog-article-list{


  border: $--mxh-light 0px solid;

}
// .blog-article-list-item {
  
// }
.blog-article-list-item:hover{
  box-shadow: #00334e66 1px 1px 3px 1px;
}
// .blog-article{
 
// }
.blog-article-detail-cover{
  object-fit: cover;
  width: 100%;
  max-height: 100px;
}
.mxh-nav-bg{
  //background-color: $--mxh-semi-dark ;
  background-image: linear-gradient(to right, white, $--aqs-purple);
}

.mxh-nav-brand {
  font-weight: 900;
  font-stretch: wider;
  font-style: oblique;
  font-size: 1em;
  color: $--mxh-light;
}
.mxh-active > .nav-link {
  border-bottom: 2px solid $--aqs-purple;
  color: $--aqs-purple;

}
.nav-link{
  font-family: Raleway;
  font-weight: 600;
  font-size: large;
  color: $--aqs-blue ;
}
.card:hover {
  box-shadow: black 0px 0px 12px;
  
}
.card-link {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
}
.audiotext{
  font-family: 'Audiowide', cursive;
}
.bg-aqs-dark{
  background-image: linear-gradient(to right, $--mxh-dark , $--mxh-darker);
}
.bg-aqs-light{
  background-image: linear-gradient(to right, white , $--aqs-blue);
}
.bg-aqs-solid-dark{
  background-color: $--mxh-semi-dark;
}
.bg-aqs-blue-solid-light {
  background-color: rgb(127, 181, 219) !important;
}
.bg-aqs-solid-light{
  background-color: #f6f5f5ff;
}
// input[type="file"] {
//   position: absolute;
//   top: 10px;
//   left: 8px;
//   font-size: 17px;
//   color: #8ebf42;
//   background-color: #8ebf42;
// }
// .button-wrap {
//   position: relative;
//   background-color: #8ebf42;
// }
.btn-aqs-blue {
  // border-color: $--aqs-purple !important;
  background-color: $--aqs-blue !important;
  color: #fff !important;
  border: none !important;
}
.btn-aqs-purple {
  // border-color: $--aqs-purple !important;
  background-color: $--aqs-purple !important;
  color: #fff !important;
  border: none !important;
}
.purple-border-bottom{
  border-bottom: solid 2px $--aqs-purple;
}
.bg-aqs-blue {
  background-color: $--aqs-blue !important;
}
.aqs-blue-text {
  color: $--aqs-blue !important;
}
#homeTitle{
  font-family: "Raleway";
  // border-bottom: 3px solid $--aqs-purple;
}

