<div class="container mb-2" role="main">
  <div class=" p-4">
    <h2 class="text-white text-center ">"Insieme per migliorare lo stile di vita di tutti, ciascuno in base alla propria
      condizione e situazione."</h2>
  </div>
  <div class="row  rounded">
  <div class="container">
    <pkl-article-list></pkl-article-list>
  </div>
</div>
</div>
<!-- <div class="container mb-2" role="main">
  <div class="div p-4">
    <h2 class="text-white text-center ">"... per la sicurezza sociale, sportiva-dilettantistica, ricreativa e culturale."</h2>
  </div>
  <div class="row p-4 bg-white rounded">
    <pkl-article-list></pkl-article-list>
  </div>
</div> -->
