<div class="container-fluid " role="main">
  <div class=" d-flex d-inline-flex justify-content-center p-4">
    <h2 class="text-white text-center ">"Insieme per migliorare lo stile di vita di tutti, ciascuno in base alla propria
      condizione e situazione."</h2>
  </div>
 
    <pkl-article-list class="h-100"></pkl-article-list>

</div>
<!-- <div class="container mb-2" role="main">
  <div class="div p-4">
    <h2 class="text-white text-center ">"... per la sicurezza sociale, sportiva-dilettantistica, ricreativa e culturale."</h2>
  </div>
  <div class="row p-4 bg-white rounded">
    <pkl-article-list></pkl-article-list>
  </div>
</div> -->
